# Sensitive configuration (contains DB credentials / secrets)
config.py

# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# VS Code settings
.vscode/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints
